<style>
  img{
display:block;
margin:auto;
}
</style>
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                <img src="/img/post-it.png" alt="" >
                <h2 class="text-center" style="font-family: 'Acme', sans-serif;">Agrega una Nueva Nota</h2>
                 <h6  class="text-center"></h6>
                 <form #NotasForm ="ngForm"(ngSubmit)="onSubmit(NotasForm)">
                 <input type="hidden" name="$key" #$key="ngModel"[(ngModel)]="notaServicio.selectedNotas.$key">
                   <div class="form-group">
                     <input 
                     type="text"
                     class="form-control"
                     name="titulo"
                     #titulo="ngModel"
                     [(ngModel)]="notaServicio.selectedNotas.titulo"
                     placeholder="ingresa Un Titulo"
                     required
                     >
                   </div>
                   <div class="form-group">
                     <textarea
                     type="text"
                     class="form-control"
                     name="texto"
                     #texto="ngModel"
                     [(ngModel)]="notaServicio.selectedNotas.texto"
                     placeholder="ingresa Un Texto"
                      cols="54" rows="4"
                      required></textarea>
                     </div>
                     <div class="form-group">
                         <input 
                         type="date"
                         class="form-control"
                         name="fecha"
                         #fecha="ngModel"
                         [(ngModel)]="notaServicio.selectedNotas.fecha"
                         placeholder="ingresa Un fecha"
                         required
           
                         >
                       </div>
                       <div class="form-group">
                           <input 
                           type="text"
                           class="form-control"
                           name="hora"
                           #hora="ngModel"
                           [(ngModel)]="notaServicio.selectedNotas.hora"
                           placeholder="ingresa Un hora"
                           required
                           >
                         </div>
                         <div class="form-group">
                         <button class="btn btn-primary" type="submit">
                            <i class="far fa-save"></i> Guardar Nota
                           <!-- <i class="fas fa-plus-circle"></i>Agregar Nota -->
                         </button>
                         <button class="btn btn-secondary" type="reset"(click)="resetForm(NotasForm)">
                             <i class="fas fa-sync-alt"></i>Reset 
                           </button>
                         </div>
                 </form>
                 
              </div> 
           </div>
        </div> 
      </div>
    </div>

